@import "../../AppVariables.scss";
@import "../../Mixins.scss";

.menu__heading {
  display: flex;
  justify-content: center;
  &__h1 {
    // text-align: center;
    text-transform: uppercase;
    font-size: 5rem;
    color: $color-grey-dark-3;
  }
}

.menu {
  // height: 62rem;
  @include horizontalCenter;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 5rem;

  &__column {
    background-color: $color-grey-light-2;
    border-radius: 1rem;
    box-shadow: $shadow-dark;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0rem 5rem;

    &__inner-container {
      border-style: solid;
      border-radius: 1rem;
      border-color: $color-grey-dark-3;
      height: 90%;
      width: 90%;

      overflow: hidden;

      &__left {
        &__logo {
          height: 22rem;
          fill: $color-grey-light-2;
          background-color: $color-grey-dark-3;
          // border-top-right-radius: 0.85rem;
          // border-top-left-radius: 0.85rem;
          // border-radius: 0.85rem;
          overflow: hidden;
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          &__svg {
            height: 15rem;
          }
        }

        &__items {
          padding: 3rem 0rem;
          margin-bottom: 6rem;
          text-align: center;
          list-style: none;
          width: 80%;
          @include horizontalCenter;
        }
      }

      &__item {
        // &:not(:last-child) {
        text-align: center;
        padding-bottom: 3rem;
        // }

        &--flex {
          display: flex;
          justify-content: space-between;
        }

        &__name {
          font-size: 2rem;
          text-align: center;
          text-transform: uppercase;
        }
        &__price {
          font-size: 1.5rem;
          text-align: center;
        }
        &__description {
          font-size: 1.2rem;
          text-align: center;
        }
      }
    }
  }
}
