@import "../../AppVariables.scss";
@import "../../Mixins.scss";

.cart {
  width: 100%;
  height: 100%;
  border-style: solid;

  border-radius: 1rem;
  overflow: hidden;
  transition: all 1s;

  &__heading {
    background-color: $color-grey-dark-3;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20rem;
    // padding: 0rem 2rem;
    // padding-left: 2rem;
    color: $color-grey-light-2;
    &__h1 {
      font-size: 4rem;
    }
    &__icon {
      height: 50%;
      fill: $color-grey-light-2;
    }
  }

  &__body {
    padding: 3rem;
    display: flex;

    // 85% as the header is using 15% of the height
    height: 85%;
    flex-direction: column;
    justify-content: space-between;
    &__content {
      overflow-y: scroll;
      &__items {
        list-style: none;
        font-size: 3rem;
        &__item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 2rem;
          padding-bottom: 2rem;

          &__details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: inherit;
            font-weight: bold;
          }
          &__other {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: inherit;

            gap: 1rem;
            &__quantity {
              display: flex;
              font-size: inherit;

              span {
                font-size: inherit;
              }
            }
            &__actions {
              display: flex;
              gap: 1rem;
              button {
                outline: none;
                border: none;
                cursor: pointer;
                background-color: $color-grey-dark-3;
                color: $color-grey-light-2;
                // padding: 1.5rem 2rem;
                padding: 0.3rem 1rem;
                border-radius: 1rem;
                transition: all 0.2s;

                &:hover {
                  @include hoverEffects();
                }
                &:active {
                  @include hoverEffects();
                  transform: translateY(1.5px);
                }

                &__span {
                  pointer-events: none;
                  color: inherit;
                }
              }
            }
          }
        }
      }
    }

    &__footer {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &__total {
        display: flex;
        justify-content: space-between;
        font-size: 2.5rem;
        // font-weight: bold;
        font-weight: 900;
      }
      &__user-actions {
        display: flex;
        justify-content: right;
        gap: 2rem;
        font-size: 1.5rem;

        &__button {
          outline: none;
          border: none;
          cursor: pointer;
          background-color: $color-grey-dark-3;
          color: $color-grey-light-2;
          padding: 1.5rem 2rem;
          border-radius: 1rem;
          transition: all 0.2s;

          &:hover {
            @include hoverEffects();
          }
          &:active {
            @include hoverEffects();
            transform: translateY(1.5px);
          }

          & + span {
            pointer-events: none;
            color: inherit;
          }
        }

        &__close {
          font-size: inherit;
        }
        &__order {
          font-size: inherit;
        }
      }
    }
    // &__items {
    //   // background-color: $color-black;
    //   text-decoration: none;
    //   list-style: none;
    // }

    // &__footer {
    //   &__total {
    //     // background-color: $color-black;
    //     // align-self: flex-end;
    //   }
    // }
  }

  // &__hiddenAnimation {
  //   opacity: 0;
  //   filter: blur(5px);
  //   transform: scale(0) translate(0%);
  //   transition: all 1s;
  // }

  &__visibleAnimation {
    opacity: 1;
    filter: blur(0px);
    animation-name: example;
    animation-duration: 0.5s;
  }
}

@keyframes example {
  0% {
    filter: blur(10px);
    // top: -100%;
    // left: 100%;
    top: -30%;
    left: 77%;
    transform: scale(0);
  }

  100% {
    filter: blur(0px);
    top: 50%;
    left: 50%;
    transform: scale(1) translate(-50%, -50%);
  }
}
