@import "../../AppVariables.scss";
.header {
  position: fixed;
  box-sizing: border-box;
  // outerWidth: 100%
  top: 0px;
  left: 0px;
  width: 100vw;
  background-color: $color-grey-light-2;
  padding: 1rem 5rem;
  padding-bottom: 0rem;
  height: 6rem;

  // -- DEBUG
  // background-color: red;
  // -- DEBUG

  box-shadow: $shadow-light;

  &--small {
    height: 7rem;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // overflow: hidden;
    fill: $color-grey-dark-3;

    &-logo {
      height: 4rem;
    }

    &-cart {
      display: flex;
      // flex-direction: column;
      outline: none;
      border: none; // height: 3rem;
      align-items: center;
      // align-content: center;
      background-color: $color-grey-light-2;
      cursor: pointer;
      position: relative;

      &--icon {
        height: 4rem;
        padding: 0rem 0.5rem;
      }

      &--counter {
        height: 2.5rem;
        width: 2.5rem;
        font-size: 1.5rem;
        background-color: $color-grey-dark-3;
        border-radius: 10rem;
        color: $color-grey-light-2;
        text-align: center;
        display: flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
        position: relative;
        top: -1.5rem;
        left: -2.5rem;
      }
    }
  }

  //   background-image: linear-gradient(to right bottom, #ec6b6f, #b42e2e);
  &__gallery {
    display: flex;
    &-item {
      max-width: 100%;
      overflow: hidden;
    }
  }
}
