@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
@import "./AppVariables.scss";
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}

body {
  box-sizing: border-box;
  margin: auto;
  // padding: 4rem;
  // background-color: #3f3f3f;
  background-image: linear-gradient(
    to bottom right,
    $color-primary-light,
    $color-primary-dark
  );
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.app {
  &__container {
    max-width: 150rem;
    margin: 8rem auto;
    background-color: $color-grey-light-2;
    box-shadow: var(--shadow-dark);
    //-- DEBUG CODE
    min-height: 85vh;
    padding: 3rem;
    padding-top: 0rem;

    //-- END DEBUG CODE
    // color: var();
  }
}
