@mixin horizontalCenter {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

@mixin verticalCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@mixin absoluteCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}

@mixin hiddenAnimation {
  opacity: 0;
  filter: blur(5px);
  transform: scale(0.5) translateX(50%);
  transition: all 1s;
}

@mixin visibleAnimation {
  opacity: 1;
  filter: blur(0px);
  transform: scale(1) translateX(0%);
  transition: all 1s;
}
